.hero_header{
    background-image: url(img/hero_accueil.png);
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: cover;
    /* color: #E8E809;
    padding: 15%; */
}

/* 1st section */

.allcards{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 0 5%;
}
.allcards h4{
    font-family: 'Oswald', sans-serif;
}

.allcards a{
    font-family: 'Oswald', sans-serif;
    color: #F93434;
}

.card{
    background-color: white;
    border-radius: 10px;
}

.card img{
    width: 100%;
    object-fit: cover;
}

.txtcard{
    padding: 5%;
}

.txtcard p{
    padding: 5% 0;
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
}

.txtcard h4{
    font-family: 'Oswald', sans-serif;
    font-size: 1.4rem;
}

.txtcard a{
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}

/* 2nd section */

.discover{
    background-color: #F93434;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20%;
}

.discover img{
    object-fit: cover;
    width: 100%;
    height: 20rem;
}

.discover2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.discover2 h4{
    padding: 10% 10%;
    font-family: 'Oswald', sans-serif;
    font-size: 1.8rem;
}
.discover p{
    padding: 0 10%;
    font-family: 'Roboto', sans-serif;
    line-height: 40px;
    font-size: 1.3rem;
    margin-bottom: 10%;
}

/* 3rd section */

.cardticketred{
    background-color: white;
    border-left: 18px solid #F93434;
    border-radius: 10px;
    padding: 30px 60px;
    margin: 5% 0;
    text-align: center;
}

.cardticketyellow{
    background-color: white;
    border-left: 18px solid #E1E102;
    border-radius: 10px;
    padding: 30px 60px;
    margin: 5% 0;
    text-align: center;
}

.child {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

.tarif{
    font-family: 'Oswald', sans-serif;
    font-size: 1.8rem;
    padding: 8% 0 10% 0;
}

.cardticketred a{
    background-color: #F93434;
    border-radius: 10px;
    color: white;
    padding: 3% 6%;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
}

.cardticketyellow a{
    background-color: #E1E102;
    border-radius: 10px;
    color: #1d1d1d;
    padding: 3% 6%;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
}

.btnticket {
    background-color: #E1E102;
    border-radius: 10px;
    color: #1d1d1d;
    padding: 3%;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    margin: 10% 40% 20% 40%;
}

/* 4th section */

.sponsors{
    margin-bottom: 10%;
}
.logosponsors{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    margin: 0 10%;
}

.logosponsors img{
    width: 60%;
}

.allcardsPC{
    display: none;
}

@media screen and (min-width:991px){

    .allcards{
        display: flex;
        flex-direction: row;
    }

    .discover2{
        display: flex;
        flex-direction: row;
        padding: 0 5% 10% 5%;
        text-align: center;
    }

    .leftcardPC{
        display: flex;
        justify-content: space-evenly;
    }

    .rightcardPC{
        display: flex;
        justify-content: space-evenly;
    }

    .cardticketred{
        margin: 0 0 100px 0;
        width: 500px;
    }
    .cardticketyellow{
        margin: 0 0 100px 0;
        width: 500px;
    }
    .leftcardPC a{
        padding: 5%;
    }



    .logosponsors{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .logosponsors img{
        width: 25%;
    }
}