.hero_header{
    background-image: url(img/hero_accueil.png);
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: cover;
}
.cardticketred{
    background-color: white;
    border-left: 18px solid #F93434;
    border-radius: 10px;
    padding: 30px 60px;
    margin: 5% 0;
    text-align: center;
}

.cardticketyellow{
    background-color: white;
    border-left: 18px solid #E1E102;
    border-radius: 10px;
    padding: 30px 60px;
    margin: 5% 0;
    text-align: center;
}

.child {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

.tarif{
    font-family: 'Oswald', sans-serif;
    font-size: 1.8rem;
    padding-top: 8%;
}

/* Choixtarif */

.cardtarif{
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
    border-right: 12px solid #F93434;
    margin: 5% 5%;
}

/* Card tarif rouge */
.bgred{
    background-color: #F93434;
    color: white;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    padding: 5%;
    text-align: center;
    width: 40%;
}

/* Card tarif jaune */

.cardtarifyellow{
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
    border-right: 12px solid #E1E102;
    margin: 5% 5%;
}
.bgyellow{
    background-color: #E1E102;
    color: #1d1d1d;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    padding: 5%;
    text-align: center;
    width: 40%;
}

.bgyellow i {
    font-size: 1rem;
}

/* Contenu card tarif bg blanc */
.txtcardtarif{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}

.txtcardtarif2{
    margin-right: 2%;
}

.btnqte{
    display: flex;
    align-items: center;
    
}
.btnqte img{
    width: 50%;
    height: 100%;
}




.line{
    border: 2px solid #F93434;
    width: 50%;
    margin-left: 25%;
}




.total{
        background-color: #F93434;
        color: white;
        border-radius: 10px;
        font-family: 'Roboto', sans-serif;
        font-size: 1.2rem;
        padding: 5% 20%;
        width: 40%;
        display: flex;
        justify-content: center;
}

.totalqte{
    margin-right: 10%;
}

input{
    width: 30%;
    text-align: center;
}

button{
    width: 20%;
    border: none;
    background-color: white;
}
@media screen and (min-width:991px) {

    .allcardsPC{
        display: flex;
        justify-content: space-around;
        flex: 1;
    }

    .cardticketred{
        margin: 0 0 100px 0;
        width: 500px;
    }

    .cardticketyellow{
        margin: 0 0;
        width: 500px;
    }
    .cardtarifyellow{
        font-size: 1.5rem;
    }
    .bgyellow{
        font-size: 1.5rem;
    }
    .cardtarif{
        font-size: 1.5rem;
    }
    .bgred{
        font-size: 1.5rem;
    }
    .total{
        font-size: 1.5rem;
    }
    .btnqte img{
        width: 30%;
        height: 100%;
    }
    
}