footer{
    background-color: #F93434;
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.coordonnées{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding-top: 5%;
    font-size: 1.2rem;
}

.RS{
    gap: 25px;
    font-size: 1.2rem;
    padding-top: 5%;
    text-align: center;
}

.RS p{
    padding-bottom: 5%;
}
.logoRS{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 5%;
}

.logoRC{
    display: flex;
    justify-content: center;
    margin: 5% 0;
}

.footerlink{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.footerlink ul {
    list-style: none;
}

.footerlink li{
    margin: 10% 0;
    text-align: center;
}
.footerlink a{
    color: white;
    font-size: 1.5rem;
}


@media screen and (min-width:991px){
    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

    }
    .coordonnées{
        display: flex;
        justify-content: flex-start;
    }
    .footerlink{
        padding-top: 5%;
    }
    .footerlink li{
        padding: 8% 0;
    }
}