.hero_header{
    background-image: url(img/hero_accueil.png);
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: cover;
}

button{
    background-color: #E8E809;
    color: #E8E809;
}