*{ margin: 0; padding: 0; box-sizing: border-box; text-transform: none; text-decoration: none; }

.header{
    background-color: #F93434;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    padding: 1% 3%;
}

.header ul{
    list-style: none;
    display: flex;
    gap: 50px;
}

.header a{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 1.1rem;
}

@media screen and (max-width:991px){
    
    .header ul{
        gap: 25px;
    }
    .header a{
        font-size: 0.7rem;
    }
}

@media screen and (max-width:600px){

    .header img{
        display: none;
    }
    .header{
        display: flex;
        justify-content: center;
        padding: 5% 2%;
    }
    header{
        display: flex;
        align-items: center;
    }
}