.hero_header{
    background-image: url(img/hero_accueil.png);
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: cover;
}

.terrain{
    background-image: url(img/terrain.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.terrain img{
    width: 15%;
}

.joueur{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 5% 0;
}

.btn{
    display: flex;
    justify-content: center;
}

.btn img{
    width: 10%;
}

button{
    background-color: #F93434;
    border-radius: 100px;
    padding: 4%;
    border-color: #F93434;
}

/* Effectif */

.indiv {
    border-left: 2px solid #F93434;
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    margin: 5%;
}

.indiv img{
    width: 30%;
}

.indiv p {
    padding-top: 10%;
}

.indiv span{
    color: #636363;
    font-style: italic;
}

.effectif{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

/* OnClick */

.indiv2 {
    border-left: 2px solid #FFC603;
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    margin: 5%;
}

.GK{
    display: none;
}

.DEF{
    display: none;
}

.MID{
    display: none;
}

.FW{
    display: none;
}

@media screen and (min-width:991px) {
    .terrainAndEffectif{
        margin: 10%;
        display: flex ;
    }
}