.hero_header{
    background-image: url(img/hero_accueil.png);
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: cover;
}

.infos{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 50px;
    margin: 20% 10%;
    font-family: 'Roboto', sans-serif;
}

.map{
    display: flex;
    justify-content: center;
    margin: 10% 5%;
}

@media screen and (min-width:991px){
    .stsection{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 15%;
    }
}