*{ margin: 0; padding: 0; box-sizing: border-box; text-transform: none; text-decoration: none; }
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    background-color: #F4F4F4;
}

h1{
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    padding: 15%;
    color: #E8E809;
    text-align: center;
    display: flex;
    justify-content: center;
}

h2{
    margin-top: 20%;
    padding-bottom: 15%;
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

@media screen and (min-width:991px) {

    h1{
        font-size: 3rem;
    }

    h2{
        font-size: 2.5rem;
    }
}